h1{color: MidnightBlue; 
font-family: 'Dosis', sans-serif;
font-size: 150%; 
}

h2{ color: MidnightBlue; 
font-size: 75; } 

h3{font-size: 50;
	color: LightSteelBlue; }

body {
	background: White;
	color: LightSteelBlue;
	font-size: 18pt;
	font-family: 'Raleway', sans-serif;
	}
A {color: MidnightBlue; }




 