h1{color: MidnightBlue; 
font-family: 'Dosis', sans-serif; }
h2{font-size: 150%;
	color: LightSteelBlue; }

body {
	background: White;
	color: LightSteelBlue;
	font-size: 18pt;
	font-family: 'Raleway', sans-serif;
	}

table {border: 1px solid black} 