h1{color: MidnightBlue; 
font-family: 'Dosis', sans-serif;
font-size: 200% 
}
h2{color: MidnightBlue; 
font-family: 'Dosis', sans-serif;
font-size: 450% 
}

A{ font-size: 100%; 
color: MidnightBlue; }