h1{color: MidnightBlue; 
font-family: 'Dosis', sans-serif;
font-size: 125%; 
}
h2{color: MidnightBlue; 
font-family: 'Dosis', sans-serif;
font-size: 300%;  
}

body{
	background: White;
	color: LightSteelBlue;
	font-size: 18pt;
	font-family: 'Raleway', sans-serif;
	}

A{ ont-size: 100%; 
color: MidnightBlue; }